@import url("reset.css");

header, nav, article, footer, address, section {
 display: block;
}

#container {
 width:900px;
 margin:auto;
 background-color:white;
}
header {
 background-color:#666;
}
nav li {
 display:inline;
 padding-right:1em;
}
nav a {
 color:white;
 text-decoration:none; 
}
nav a:hover {
 text-decoration:overline; 
}
h1, h2 {
 margin:0px;
 font-size:1.5em;
}
h2 {
 font-size:1em;
}