# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse config #
.classpath
.project
.settings/
.metadata/

# non source directories #
lib
classes
target
bin

